/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2021, 19:37:07
    Author     : nils
*/



.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-nav li{
    float: left;
}